.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  &__item {
    width: 25px;
    height: 2px;
    background-color: var(--black-bg);
    border-radius: 25px;
  }
}