.html,
.body {
  height: 100%;
}
.body {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--white-text);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
  position: relative;
}
.container {
  max-width: var(--container-width);
  padding: 0 10px;
  margin: 0 auto;
}